body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
.container h1{
    font-size: 36px;
    font-weight: bold;
    font-family: initial;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #333;
    text-align: center;
    padding: 4px 0;
}

h1, h2 {
	text-align: center;
}

.upload-section, .chat-section {
	margin-top: 10px;
	padding: 20px;
	background-color: #f5f5f5;
	border-radius: 10px;
}

.upload-section button {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	border-radius: 2px;
	border: none;
	background-color: #4c78af;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
.chatb button {
	background-color: #10a37f;
        width: 72px;

}
.chatb button img{
   width: 95%;
   vertical-align: -webkit-baseline-middle;

}
.imex button {
	background-color: #127c44;

}
.chat-section #chatbot {
	margin-top: 20px;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px
}

.buttons {
    display: flex;
place-content: center;
}

.dot {
    border-radius: 5px;
    width: 102px;
    padding: 5px;
    font-size: inherit;
    height: 28px;
    margin: 0px 10px;
    background-color: #f5f5f5;
    text-align: -webkit-center;
    transition-delay: 0.05s;
    transition-property: background-color;
    transition-duration: 0.3s;
}
.ser-add{
    text-decoration-line: none;
    vertical-align: -webkit-baseline-middle;
    color: #000;
    -webkit-text-stroke: thin;
}

.dot:hover {
background-color: #e9e7e7;

}
.myInp{
	background-color: #10a37f;
    color: white;
    padding: 11px 9px;
    border-radius: 1px;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
}

#fileName{
    background-color: #10a37f00;
    color: #10a37f;
    padding: 11px 9px;
    border-radius: 5px;
    font-family: inherit;
    margin: 0;
}
.inpG{
	text-align-last: center;
}
#inpS{
	padding: 11px;
    font-size: 16px;
    border: 1px solid #cccccc61;
    border-radius: 5px;
    width: 54%;
    text-align-last: start;
    font-family: inherit;
}
.ocrinptG{
	border: 1px solid #dfdcdc5c;
    border-radius: 8px;
    padding: 5px;
	width: 50%;
}
.myInpO{
	background-color: #4c78afe3 !important;
    width: 50% !important;
}
#fors{
	text-align: -webkit-center;
}
.pocr{
    margin: 0px !important;
    background-color: #f5f5f5 !important;
    color: #4c61af !important;
}